* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: white;
    width: 1170px;
    margin: auto;
    padding: 15px ;
}

.awesome_card_img {
    width: 30px;
}

.awesome_header,
.awesome_subheader {
    text-align: center;
}

.awesome_card_img {
    border: 2.3px solid orange ; 
    border-radius: 100%;
    padding: 30px;
}

.awesome_card_title {
    padding: 15px;
}

.awesome_card_text {
    padding: 15px;
}

.awesome_card {
    display:  inline-block; 
    width: 33%;
    text-align: center;
    margin: auto;
}

.line {
 width: 60px;
 margin: 20px auto;
 border-bottom: 3px solid red;
} 

/*
* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.container{
    background: #FFFFFF;
    max-width: 1170px;
    margin: auto;
    padding: 15px;
    }
    .awesome_header {
      text-align: center;
      padding-top:  100px;
    }
    .awesome_subheader{
      padding: 35px;
      text-align: center;
      opacity: .3;
    }
    .awesome_card{
    display:inline-block;
    margin: 10px 20px;
    text-align: center;
    }
    .awesome_card_text {
    width: 345px;
    }
    .container_img{
      border: 1px solid #D98943;
      border-radius: 50%;
      padding: 10px;
      height: 50px;
      width: 50px; 
      background-position: center;
      margin: 0 auto;
    }
     img{
       padding: 10px 0px 0px 0px;
     }
     .awesome_line{
      margin-top: 20px;
      border-bottom: 2px solid #D98943;
      width: 64px;
      margin: auto;
     }
     .line {
        width: 60px;
        margin: 20px auto;
        border-bottom: 3px solid red;
       }
       */