.axure {
    max-width: 1170px;
    margin: auto;
    height: 300px;
}

.axure_header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}
