.header_container{
    width: 1170px;
    margin: auto;
    background: #000000;
    height: 70px;
    left: 0;
    top: 0;    
}  
.logo{
    padding-top: 0;
    padding-left: 110px;
 }

.menu {
    top: 25px;
    right: 200px;
    position: absolute;
    justify-content: center;
    width: 1170px;
}
.menu_list li {
    width:auto;
    display: inline-block;
    font-family: Open Sans;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
}

.menu a:hover {
    border-bottom: 3px solid pink;
    border-left:  3px solid pink;
}


      
a {
    color:rgba(255, 255, 255, 0.7);
    text-decoration:none
}