* {
    margin: 0;
    padding: 15px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


.prising_subheader {
    text-align: center;
}


.pricing_container { 
    display: inline-flex;
    align-items: center;
    justify-content: space-around;   
    width: 1170px;
    margin: auto;
    padding: 15px;
}

.flex_container {
    margin: 10px 78px 10px 10px;
    height: 440px;
    width: 340px;
    display: ruby-base;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.flex_item_1 {
  background-color: #333333;
  color: white;
  margin: 0.4%;
  width: 340px;
  height: 50px; 
  text-align: center; 
}

.flex_item_2 {
  background-color: #333333;
  color: white;
  margin: 0.4%;
  width: 340px;
  height: 50px; 
  text-align: center;
  }

.flex_item_3 {
    background-color: #333333;
    color: white;
    margin: 0.4%;
    width: 340px;
    height: 50px;
    text-align: center;
}

.ul {
  padding: 0px;
  text-align: center;
  list-style-type: none;
}

.list_item {
  width: 340px;
  height: 40px;
  margin: 4px 0px 4px 0px;
  text-align: center; 
}

/*
padding: 20px 190px 20px 160px;
*/