@import url(awesome.css);
@import url(pricing.css);
@import url(customers.css);
@import url(axure.css);
@import url(footer.css);
@import url(social.css);
@import url(header.css);
* {
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: white;
    width: 1170px;
    margin: auto;
    padding: 15px;
}